</div>
<!-- /wrapper -->

<div class="footer">
	<div  class="w">
		<div class="gotop" style="display:none;"><a href="#">gotop</a></div>
		<h3>
			<% if (typeof copyright != "undefined"){ %>
				<%- copyright %>
			<% } %>
			<i><%= name %>@<%= date %></i>
			<% if (typeof stat != "undefined"){ %>
				 <i><%- stat %></i>
			<% } %>
		</h3>
	</div>
</div>
<% if (typeof extendHtml != "undefined"){ %> <%- extendHtml %><% } %>

<script type="text/javascript">
	if(navigator.userAgent.match(/AppleWebKit.*Mobile.*/)){
		$('.header-bar').bind('click',function() {
			if ($(this).hasClass('header-bar-active')) {
				$('.navbar-collapse').hide();
				$(this).removeClass('header-bar-active');
			} else {
				$('.navbar-collapse').show();
				$(this).addClass('header-bar-active');
			}
		});

		if($('#sidebar').size()){
			$('#menu_icon').show()
			$('#menu_icon').bind('click',function() {
				if ($('body').hasClass('navigating')) {
					$('body').removeClass('navigating');
					$(this).css('transform','translateX(0px)');
					$('.container').css('transform','translateX(0px)');
					$('#sidebar').css('transform','translateX(171px)');
				} else {
					$('body').addClass('navigating');
					$('#sidbar').css('transform','translateX(0px)');
					$(this).css('transform','translateX(-140px)');
					$('.container').css('transform','translateX(-140px)');
					$('#sidebar').css('transform','translateX(30px)');
				}
			})
			$('#sidebar a,#sidebar li').bind('click',function() {
				if (window.screen.width <= 750) {
					$('body').removeClass('navigating');
					$('#sidebar').css('transform','translateX(171px)');
					$('#menu_icon').css('transform','translateX(0px)');
					$('.container').css('transform','translateX(0px)');
				}
			});
		}
	}
</script>
</body>
</html>