</div>
<!-- /wrapper -->

<div class="footer">
	<div  class="w">
		<div class="gotop"><a href="#">gotop</a></div>
		<h3>
			<% if (typeof copyright != "undefined"){ %>
				<%- copyright %>
			<% } %>
			<i><%= name %>@<%= date %></i>
			<% if (typeof stat != "undefined"){ %>
				 <i><%- stat %></i>
			<% } %>
		</h3>
	</div>
</div>

<% if (typeof extendHtml != "undefined"){ %>
<%- extendHtml %>
<% } %>

</body>
</html>